.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    height: 100vh;
}

.card {
    height: 280px;
    width: 280px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid brown; 
}

.Image {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover; 
}
